#content{
    position: relative;
}
.box_img{
    height: 20vw;
    width: 60vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    margin-top: -20vw;
}
.box_img img{
    height: 100%;
    display: block;
}