@charset "utf-8";

* {
	margin: 0;
	padding: 0
}

#content{
	height: 100%;
	width: 100%;
} 
body {
	width: 100%;
	height: 100%;
}
li{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfloat:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
} 
.clearfloat{
	zoom:1;
}
.hide{
	display: none;
}
.show{
	display: block;
}
a{ 
	text-decoration:none; 
	color:#333; 
}
.model{
	width: 56vw;
	background: #333333;
	overflow: hidden;
	border-radius: 4vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	margin-top: -11.5vw;
	border-radius: 4vw;
	display: none;
}
.model .img_notice{
	width: 8.5333vw;
	height: 8.5333vw;
	margin: 2.9333vw auto;
}
.model .img_notice img{
	width: 100%;
	height: 100%;
}
.text_notice{
	font-size: 4.5333vw;
	color: #fff;
	text-align: center;
	margin-bottom: 3.2vw;
}
.mui-pull-bottom-tips {
	text-align: center;
	/* background-color: #efeff4; */
	font-size: 3.7333vw;
	line-height: 10vw;
	color: #e6e6e6;
}

html,
		body {
			background-color: #fff;
		}

		.mui-bar~.mui-content .mui-fullscreen {
			top: 44px;
			height: auto;
		}

		.mui-pull-top-tips {
			position: absolute;
			top: -20px;
			left: 50%;
			margin-left: -25px;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			z-index: 1;
		}

		.mui-bar~.mui-pull-top-tips {
			top: 24px;
		}

		.mui-pull-top-wrapper {
			width: 42px;
			height: 42px;
			display: block;
			text-align: center;
			background-color: #efeff4;
			border: 1px solid #ddd;
			border-radius: 25px;
			background-clip: padding-box;
			box-shadow: 0 4px 10px #bbb;
			overflow: hidden;
		}

		.mui-pull-top-tips.mui-transitioning {
			-webkit-transition-duration: 200ms;
			transition-duration: 200ms;
		}

		.mui-pull-top-tips .mui-pull-loading {
			/*-webkit-backface-visibility: hidden;
		-webkit-transition-duration: 400ms;
		transition-duration: 400ms;*/
			margin: 0;
		}

		.mui-pull-top-wrapper .mui-icon,
		.mui-pull-top-wrapper .mui-spinner {
			margin-top: 7px;
		}

		.mui-pull-top-wrapper .mui-icon.mui-reverse {
			/*-webkit-transform: rotate(180deg) translateZ(0);*/
		}

		.mui-pull-bottom-tips {
			text-align: center;
			background-color: #efeff4;
			font-size: 15px;
			line-height: 40px;
			color: #777;
		}

		.mui-pull-top-canvas {
			overflow: hidden;
			background-color: #fafafa;
			border-radius: 40px;
			box-shadow: 0 4px 10px #bbb;
			width: 40px;
			height: 40px;
			margin: 0 auto;
		}

		.mui-pull-top-canvas canvas {
			width: 40px;
		}

		.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
			box-sizing: border-box;
		}

		.mui-table-view-cell {
			padding: 0;
		}
