@charset "utf-8";

* {
	margin: 0;
	padding: 0
}

#content{
	height: 100%;
	width: 100%;
} 
body {
	width: 100%;
	height: 100%;
}
li{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfloat:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
} 
.clearfloat{
	zoom:1;
}
.hide{
	display: none;
}
.show{
	display: block;
}
a{ 
	text-decoration:none; 
	color:#333; 
}
.model{
	width: 56vw;
	background: #333333;
	overflow: hidden;
	border-radius: 4vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	margin-top: -11.5vw;
	border-radius: 4vw;
	display: none;
}
.model .img_notice{
	width: 8.5333vw;
	height: 8.5333vw;
	margin: 2.9333vw auto;
}
.model .img_notice img{
	width: 100%;
	height: 100%;
}
.text_notice{
	font-size: 4.5333vw;
	color: #fff;
	text-align: center;
	margin-bottom: 3.2vw;
}
.mui-pull-bottom-tips {
	text-align: center;
	/* background-color: #efeff4; */
	font-size: 3.7333vw;
	line-height: 10vw;
	color: #e6e6e6;
}